.dummy{
    height: 50px;
}

.stock_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 30px;
    padding: 50px;
}

.stock_grid_item{
    border: 1px solid black;
    padding: 10px;
    border-radius: 12px;
}

.greytext{
    color: grey;
}
.redtext{
    color: rgb(255, 0, 0);
}
.greentext{
    color: rgb(52, 181, 52);
}